@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
  padding: 0;
  margin: 0;
  list-style: none;
}

*::selection {
  background-color: #d87355;
  color: #ffffff;
}

a {
  text-decoration: none;
}
